:root {
    --dark: #66635b;
    --mid: #a59e8c;
    --light: #d7ceb2;
    --dark-accent: #363e45;
    --light-accent: #93a8ac;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 160px auto 60px;
    background-color: var(--light-accent);
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
}

header {
    display: grid;
    grid-template-columns: 160px auto;
    grid-template-rows: 2fr 1fr;
    background-color: var(--light-accent);
    height: 100%;
    width: 100%;
}

#site-logo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
    border-radius: 165px;
    background-color: var(--dark-accent);
    box-shadow: 2em 2em 4em var(--dark-accent);
}

#site-name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;
    border-top-left-radius: 2em;
    }

nav {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(76, 87, 96, 0), rgba(76, 87, 96, 1));
    text-align: end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: right;
    padding: 10px;
}

nav li a {
    display: block;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: var(--light-accent);
    text-align: center;
    padding: 10px 15px;
}

nav li a:hover:not(.active) {
    background-color: var(--light-accent);
    color: var(--dark-accent);
}

#logo {
height: 130px;
width: 130px;
}

/* Styling for the main content area of the site. */
main {
    display: grid;
    grid-row: 2 / 3;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: auto auto auto;
    margin-top: 10px;
    padding: 10px;
}

main section {
    grid-column: 2 / 3;
    background-color: var(--light-accent);
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 2em 2em 4em var(--dark-accent);
    text-align: right;
    align-items: flex-end;
}

.proj-link {
    color: inherit;
    text-decoration: none;
}

#bio {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
}

#bio-photo {
    width: 30%;
    border-radius: 20px;
    float: left;
    padding: 10px;
}

#projects {
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

#contact {
    grid-row: 3 / 4;
}

#proj-head {
    width: 100%;
}

#hero {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: .25em .25em 2em var(--dark-accent);
}

#hero:hover {
    box-shadow: 1em 1em 4em var(--dark-accent);
    border: none;
}

.proj-hero {
    width: 100%;
    border-radius: 20px;
}

.proj-block {
    display: flex;
    flex-direction: row;
    grid-column: 2 / 3;
    grid-row-end: 2 / 3;
    width: 300px;
    background-color: var(--light-accent);
    padding: 10px 15px;
    margin: 10px;
    text-align: right;
    border-radius: 20px;
    box-shadow: .25em .25em 2em var(--dark-accent);
}

.proj-block:hover {
    box-shadow: 1em 1em 4em var(--dark-accent);
    border: none;
}

.proj-image {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    float: left;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

footer {
    display: flex;
    grid-row: 3 / 4;
    background-color: var(--dark-accent);
    color: var(--light-accent);
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Element Attributes */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: var(--dark-accent);
    margin: .5em .25em;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

p {
    color: var(--dark-accent);
    line-height: 1.5em;
}

/* MOBILE RESPONSIVE STYLING */
@media only screen and (max-width: 800px) {
    body {
        display: grid;
        grid-template-rows: 750px auto 60px;
        background-color: var(--dark);
        font-family: 'Times New Roman', Times, serif;
        height: 100%;
    }
    
    /*styling for mobile responsive header*/
    header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 2fr auto 2fr 1fr;
        background-color: var(--light-accent);
        background-image: url("../images/dovetails.jpeg");
        background-position: -140px 0px ;
        left: -100px;
        height: 100%;
        width: 100%;
    }
    
    nav {
        grid-column: 1 / 4;
        grid-row: 4 / 5;
        background-color: var(--dark-accent);
        color: var(--light-accent);
        width: 100%;
        height: 100%;
    }
    
    nav ul {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    nav li {
        float: none;
    }
    
    nav li a {
        padding: 4px;
        text-align: center;
    }
    
    nav li a:hover:not(.active) {
        background-color: var(--light-accent);
        color: var(--dark-accent);
    }
    #site-logo {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
        border-radius: 165px;
        background-color: var(--dark-accent);
        box-shadow: 2em 2em 4em var(--dark-accent);
        animation: fadein 1.5s;
    }
    
    @keyframes movein {
        0%   {left: 200%;}
        100%  {left: 0%;}
    }        

    #site-name {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        justify-self: end;
        align-self: end;
        border-top-left-radius: 2em;
        }
    
    #logo {
        height: 320px;
        width: 320px;
    }
    /* styling for mobile responsive main section */
    main {
        display: flex;
        grid-row: 2 / 3;
        /* grid-template-columns: 10% auto 10%;
        grid-template-rows: 300px auto; */
        flex-direction: column;
        margin-top: 10px;
        padding: 10px;
    }

    #bio {
        flex-direction: column;
    }
    
        #bio-photo {
        width: 50%;
        border-radius: 20px;
        padding: 10px;
    }
    
        #hero {
        display: flex;
        flex-direction: column;
    }

    #hero-text {
        order: 1
    }
    
    #hero-image {
        order: 2
    }
    
    .proj-hero {
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }
    
    .proj-block {
        display: flex;
        position: relative;
        flex-direction: column;
        grid-column: 2 / 3;
        grid-row-end: 2 / 3;
        background-color: var(--light-accent);
        padding: 10px 15px;
        margin-top: 10px;
        text-align: right;
        border: none;
        border-radius: 20px;
    }

    @keyframes fadein {
        0%   {opacity: 0;}
        100%  {opacity: 1;}
    }

    @keyframes fadeout {
        0%   {opacity: 1;}
        100%  {opacity: 0;}
    }

    .proj-image {
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }
    
    figcaption {
        width: 100%;
        background-color: var(--dark-accent);
        color: var(--light-accent);
    }

    footer {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        background-color: var(--dark-accent);
        color: var(--light-accent);
        width: 100%;
    }
}